@font-face {
  font-family: 'Gaz';
  src: url('Gaz.woff2') format('woff2'),
       url('Gaz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  font-family: 'cream DEMO';
  src: url('../fonts/cream-DEMO.woff2') format('woff2'),
       url('../fonts/cream-DEMO.woff') format('woff');
}

body {
  background-color: #222831;
  padding: 20px;
  font: 14px "Arial";
}

a {
  color: #6E93CC;
}

a:visited {
  color: #8293AD;
}

.central {
  font-weight: normal;
  font-family: normal;
}

h1 {
  font-family: 'gaz';
  position: relative;
  font-size: 50px;
  color: #FFD369;
  padding-top: 50px;
  padding-left: 50px;
}

li {
  font-family: 'cream DEMO';
  font-size: 25px;
  position: relative;
  color: #FFD369;
  padding: 0px 30px;
  margin: 50px 20px 20px 70px;
}